@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
}
.special-heading {
  width: 100%;
}
.position-relative {
  position: relative;
  z-index: 9;
}
.top-star-object {
  transition: 0.4s ease-in-out;
  right: 16%;
  top: -3%;
  height: 205px;
  position: absolute;
  width: 100%;
  max-width: 190px;
  z-index: 1;
}
.expanse-object-1 {
  transition: 0.4s ease-in-out;
  right: 5%;
  top: 21%;
  height: 108px;
  position: absolute;
  width: 100%;
  max-width: 190px;
  z-index: 1;
}
.create-world-object-1 {
  transition: 0.4s ease-in-out;
  right: 20%;
  top: 19%;
  height: 108px;
  position: absolute;
  width: 100%;
  max-width: 111px;
  z-index: 1;
}
.founder-object-1 {
  transition: 0.4s ease-in-out;
  left: 5%;
  top: 22%;
  height: 100px;
  position: absolute;
  width: 100%;
  max-width: 106px;
  z-index: 1;
}
.founder-object-2 {
  transition: 0.4s ease-in-out;
  right: 5%;
  top: 26%;
  height: 131px;
  position: absolute;
  width: 100%;
  max-width: 250px;
  z-index: 1;
}
.founder-object-3 {
  transition: 0.4s ease-in-out;
  left: 5%;
  bottom: -15%;
  height: 100px;
  position: absolute;
  width: 100%;
  max-width: 106px;
  z-index: 1;
}

.footer-object-2 {
  transition: 0.4s ease-in-out;
  right: 5%;
  top: 5%;
  height: 131px;
  position: absolute;
  width: 100%;
  max-width: 100px;
  z-index: 1;
}
.bottom-star-object {
  height: 127px;
  position: absolute;
  width: 100%;
  max-width: 165px;
  transform: translate(-50%, -50%);
  left: 30%;
  top: 70%;
  z-index: 1;
  transition: 0.4s ease-in-out;
}
.expanse-object {
  transition: 0.4s ease-in-out;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 10%;
  top: 18%;
  z-index: 1;
  width: 100%;
  max-width: 250px;
}
.expanse-object-mini {
  transition: 0.4s ease-in-out;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 10%;
  top: 28%;
  z-index: 1;
}
.galaxy-bg {
  background: url("/assets/images/galaxy-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.homepage {
  background: url("/assets/images/body-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.roadmap-page {
  background: url("/assets/images/roadmap-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.founder-page {
  background: url("/assets/images/founder-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.metaversol-pass-page {
  background: url("/assets/images/metaversol-pass-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.services-page {
  background: url("/assets/images/services-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.w-full {
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.btn-alpha-wrap {
  position: relative;
  width: fit-content;
}
.btn-alpha-blur {
  background: linear-gradient(
    98.04deg,
    rgba(191, 138, 237, 0.5) -9.26%,
    rgba(115, 216, 202, 0.5) 58.73%,
    rgba(102, 45, 145, 0.5) 124.53%
  );
  filter: blur(16.9787px);
  border-radius: 16.4894px;
  position: absolute;
  right: -12px;
  top: -12px;
  left: -12px;
  bottom: -12px;
  padding: 4px;
  transition: all 0.5s ease-in-out;
}
.btn-alpha-blur:hover {
  filter: blur(12.9787px);
  cursor: pointer;
}
.btn-alpha {
  cursor: pointer;
  border: 2.6383px solid #bf8aed;
  background: linear-gradient(
    98.04deg,
    rgba(191, 138, 237, 0.5) -9.26%,
    rgba(115, 216, 202, 0.5) 58.73%,
    rgba(102, 45, 145, 0.5) 124.53%
  );
  color: #fff;
  box-sizing: border-box;
  border-radius: 16.4894px;
  width: 143.13px;
  height: 45.51px;
  padding: 10px 25px;
}
/* .glob-cta {
  background: url("/assets/images/ChainCta.png");
  background-repeat: no-repeat;
  background-size: 690px;
  background-position: 88% 146px;
  z-index: 9;
  position: relative;
} */
.service-cta {
  background: url("/assets/images/glob-Cta.png");
  background-repeat: no-repeat;
  background-size: 1012px;
  background-position: 100% 184px;
}
.RoadMap-cta {
  background: url("/assets/images/RoadMap-cta.png");
  background-repeat: no-repeat;
  background-size: 720px;
  background-position: 100% 250px;
}
.service-cta-title {
  width: 21rem;
}

@media only screen and (max-width: 1024px) {
  /* .glob-cta {
    background-size: 490px;
    background-position: 88% 140px;
  } */
  .service-cta {
    background-size: 798px;
    background-position: 100% 235px;
  }
  .RoadMap-cta {
    background-size: 100%;
    background-position: 100% 235px;
  }
}
@media only screen and (max-width: 768.5px) {
  .top-star-object {
    transition: 0.4s ease-in-out;
    right: 14%;
    top: 0%;
    height: 95px;
    width: 100%;
    max-width: 100px;
  }
  .create-world-object-1 {
    transition: 0.4s ease-in-out;
    right: 6%;
    top: 14%;
    height: 80px;
    position: absolute;
    width: 100%;
    max-width: 90px;
    z-index: 1;
  }
  .bottom-star-object {
    height: 127px;
    position: absolute;
    width: 100%;
    max-width: 111px;
    transform: translate(-50%, -50%);
    left: 30%;
    top: 70%;
    z-index: 1;
    transition: 0.4s ease-in-out;
  }
  .expanse-object {
    transition: 0.4s ease-in-out;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 15%;
    top: 9%;
    z-index: 1;
    width: 100%;
    max-width: 115px;
  }
  .expanse-object-mini {
    transition: 0.4s ease-in-out;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 12%;
    top: 12%;
    z-index: 1;
    width: 100%;
    max-width: 80px;
  }
  .founder-object-2 {
    transition: 0.4s ease-in-out;
    right: 2%;
    top: 13%;
    height: 131px;
    position: absolute;
    width: 100%;
    max-width: 144px;
    z-index: 1;
  }
  .founder-object-1 {
    transition: 0.4s ease-in-out;
    left: 5%;
    top: 8%;
    height: 100px;
    position: absolute;
    width: 100%;
    max-width: 80px;
    z-index: 1;
  }
  .service-cta-title {
    width: 100%;
  }
  /* .glob-cta {
    background-size: 412px;
    background-position: 89% 187px;
  } */
  .btn-alpha {
    width: inherit;
    height: 45.51px;
    padding: 10px 25px;
  }
  .service-cta {
    background-size: 660px;
    background-position: 100% 205px;
  }
  .RoadMap-cta {
    background-size: 100%;
    background-position: 100% 285px;
  }
}
@media only screen and (max-width: 525.5px) {
  .founder-cards img {
    max-width: 120px;
    width: 100%;
  }
  .top-star-object {
    transition: 0.4s ease-in-out;
    right: 6%;
    top: -5%;
    height: 89px;
    width: 100%;
    max-width: 90px;
  }
  .bottom-star-object {
    height: 127px;
    position: absolute;
    width: 100%;
    max-width: 72px;
    transform: translate(-50%, -50%);
    left: 20%;
    top: 100%;
    z-index: 1;
    transition: 0.4s ease-in-out;
  }
  .expanse-object {
    display: none;
  }
  .founder-object-3 {
    transition: 0.4s ease-in-out;
    left: 0%;
    bottom: -8%;
    height: 77px;
    width: 100%;
    max-width: 80px;
  }
  .footer-object-2 {
    transition: 0.4s ease-in-out;
    right: 2%;
    top: 21%;
    height: 131px;
    position: absolute;
    width: 100%;
    max-width: 70px;
    z-index: 1;
  }
  .founder-object-1 {
    left: 5%;
    top: 7%;
    height: 54px;
    max-width: 60px;
    z-index: 1;
  }
  .founder-object-2 {
    right: 0%;
    top: 10%;
    height: 60px;
    width: 100%;
    max-width: 110px;
  }
  .special-heading {
    width: 54%;
    margin: 0 auto;
  }
  .service-cta {
    background-size: 450px;
    background-position: 100% 360px;
  }
  .RoadMap-cta {
    background-size: 100%;
    background-position: 100% 290px;
  }
  .metaversol-pass-page {
    background-size: cover;
  }
}
@media only screen and (max-width: 375.5px) {
  /* .glob-cta {
    background-size: 430px;
    background-position: 0 282px;
  } */
  .service-cta {
    background-size: 450px;
    background-position: 100% 390px;
  }
  .RoadMap-cta {
    background-size: 100%;
    background-position: 100% 345px;
  }
}
